# Xcode
build/
DerivedData/
*.xcworkspace
!default.xcworkspace
*.xcuserstate
xcuserdata/
*.xcscmblueprint

# Swift Package Manager
.build/
Packages/

# CocoaPods (if ever used)
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Archives
*.xcarchive

# macOS
.DS_Store

# Logs
*.log

# Environment
.env